@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
    font-size: 2em;
}
.fa, .fas {
    position: relative;
    display: table-cell;
    width: 80px;
    height: 56px;
    text-align: center;
    vertical-align: middle;
    font-size:30px;
    color: white;
}

.projects li{
    list-style-type: none;
}

#masthead{
    background-position: top;
}
.twp-menu-icon:hover .main-menu {
    width:250px;
    overflow:visible;
    display: block;
    background: transparent;
    height: max-content;
}

.twp-menu-icon:hover button {
    opacity: 0;
}

.main-menu {
    display: none;
    position:absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:60px;
    overflow:hidden;
    -webkit-transition:width .05s linear;
    transition:width .05s linear;
    -webkit-transform:translateZ(0) scale(1,1);
    z-index:1000;
}

.main-menu>ul {
    margin:7px 0;
}

.main-menu li {
    position:relative;
    display:block;
    width:250px;
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#999;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.wp-page-content{
    position: relative;
    min-height: 100vh;
}

@media (min-width: 1032px) {
    .twp-menu-icon:hover ~ .twp-social-icon-section{
        display: none;
    }

    .elementor-widget-wrap .map-selector{
        width: 100%;
    }

    #tabelProjects td{
        display: inline-flex;
        width: 40%;
    }

    .far{
        color: white;
        font-size: 50px;
        margin-right: 20px;
    }

    #tabelProjects a:hover  {
        color: pink;
    }
}

#tabelProjects a{
    color: white;
}

@media (max-width: 1032px) {
    #masthead{
        height: 800px;
    }

    .site-info #footerTekst{
        margin: 0 auto 0 auto;
    }

    .elementor-widget-wrap .map-selector{
        width: 100%;
    }

    #tabelProjects td{
        display: inline-flex;
        width: 100%;
    }

    .far{
        color: white;
        font-size: 40px;
        margin-right: 20px;
    }
}

td{
    padding: 10px;
    font-size: 18px;
}

th{
    font-size: 20px;
}

.footer{
    width: 100%;
    height: 2.5rem;
    background: black;
    bottom: 0;
    position: fixed;
}

.twp-page-content{
    padding-bottom: 40px;
}

div div div h3{
    color: white;
    font-family: "Playfair Display", Sans-serif;
}

#footerTekst{
    margin: 0 25% 0 55%;
    width: 30%;
    color: white;
}

.elementor-container{
    height: 100%;
}

.pdfTekst{
    margin:0;
}

#pdf{
    height: 100%;
}

.elementor-widget-container{
    height: 100%;
}

.elementor-text-editor{
    height: 100%;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align: middle;
    width:190px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: white;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

#cvFoto{
    width: 60%;
}

textarea{
    height: 200px;
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
.elementor-317 .elementor-element.elementor-element-65a3d4a6 > .elementor-element-populated{
    padding: 0px 20px 0px 40px;
}


input{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

.elementor-inner .elementor-section-wrap .elementor-section{
    min-height: 100vh;
    padding:50px 0 0 0 !important;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

/************* FONT FAMILY*************/
html body{
    font-family: Open Sans                }
body h1,
body h2,
body h3,
body h4,
body h5{
    font-family: Open Sans                }
/*************COLOR*****************/
/*************** TEXT*************/
body .twp-not-found h1,
body .twp-comments-section .comment-list li .comment-meta,
body .twp-single-article .entry-footer .edit-link a,
body .twp-single-article .entry-footer .edit-link,
body .twp-bio-widget .twp-basic-info .twp-title-with-social-icon h5,
body .twp-author-meta.twp-author-meta-primary,
body a:hover,
body .twp-categories ul li a:hover,
body .twp-mobile-menu-section .twp-mobile-menu ul li a:hover,
body .twp-post-with-bg-image .twp-gallery-post .twp-desc.twp-overlay-black a:hover,
body .twp-single-article .entry-footer .tags-links a:hover,
body .twp-single-article blockquote.wp-block-quote p:before,
body .twp-single-article blockquote.wp-block-quote p:after,
body .twp-post-format-white .twp-post-format-icon,
body .twp-header a:hover,
body .slick-arrow:hover,
body .twp-eportfolio-photography-slider a:hover,
body .twp-eportfolio-photography-slider .slick-arrow:hover,
body .twp-eportfolio-photography-slider .twp-photography-post .twp-categories a:hover,
body p a,
body p a:visited,
body .twp-single-article .entry-header .twp-author-meta a,
body .twp-single-article .entry-header .twp-author-meta a:visited,
body .twp-comments-section .comment-list li .comment-meta a:visited,
body .twp-comments-section .comment-list li .comment-meta a{
    color: #FFAAA6;
}
body .twp-comments-section .comment-list li .comment-meta a:hover{
    color: rgb(128,128,128);
}

/**************BACKGROUND************/


body .twp-comments-section .comment-respond .comment-form .logged-in-as a:after,
body .twp-comments-section .comment-list li .comment-reply-link:after,
body .posts-navigation a:after,
body .pagination .page-numbers:after,
body .twp-border-btn.twp-border-btn-white:after,
body .twp-preloader,
body .widget .search-form .search-submit:hover,
body .twp-menubar-search .search-form .search-submit:hover,
body .twp-title-with-bar:before,
body .comment-form input[type=submit]:hover,
body .twp-gallery-grid-section span.twp-active,
body .twp-primary-bg,
body .twp-not-found .search-form .search-submit,
body .twp-header .site-branding .site-description,
body .page-title span:after,
body .widget-title:after,
body .pagination .page-numbers.current,
body .page-links .post-page-numbers.current,
body .page-links .post-page-numbers:after,
body .twp-close-icon span,
body .comment-form input[type=submit],
body .slick-dots button{
    background-color: #FFAAA6;
}

@media (min-width: 768px) {
    body .twp-blog-slider-section .twp-blog-slider .twp-blog-post:before {
        background-color: #FFAAA6;
    }
}
/****************BORDER***************/
body .twp-comments-section .comment-respond .comment-form .logged-in-as a:hover,
body .twp-comments-section .comment-list li .comment-reply-link:hover,
body .posts-navigation a:hover,
body .pagination .page-numbers:hover,
body .twp-border-btn.twp-border-btn-white:hover,
body .comment-form input[type=submit],
body .twp-comments-section .comment-respond .comment-form .logged-in-as a,
body .twp-comments-section .comment-list li .comment-reply-link,
body .slick-dots button,
body .twp-single-article .entry-footer .tags-links a,
body .pagination .page-numbers.current,
body .page-links .post-page-numbers.current,
body .twp-categories.twp-categories-with-line li,
body .page-links .post-page-numbers:hover{
    border-color: #FFAAA6;
}
body .twp-bio-widget .twp-quote,
body .mfp-content .mfp-bottom-bar{
    background-color: rgba(255, 170, 170, 0.7);
}

/*****************OVERLAY********************/
body .twp-full-width-post .twp-gallery-post .post-thumbnail:before,
body .twp-overlay-image-hover:before {
    background-color: rgba(255, 170, 170, 0.6);
}

body .post-navigation .nav-links .nav-previous:hover:before,
body .post-navigation .nav-links .nav-next:hover:before{
    background-color: rgba(255, 170, 170, 0.7);
}